/* Librería de variables creadas para todo el sitio Web */
:root {
  --primary-color: #80d0c5;
  --secondary-color: #c6e8e1;
  --tertiary-color: #fcc2c1;
  --titles-font: Arial;
  --body_font: helvetica;
}

/* Fuente descargada de internet y añadida en el folder de fonts */
@font-face {
  font-family: ElegantTypewriterLight;
  src: url("fonts/ELEGANT TYPEWRITER Light.ttf");
}
@font-face {
  font-family: ElegantTypewriterBold;
  src: url("fonts/ELEGANT TYPEWRITER Bold.ttf");
}
@font-face {
  font-family: ElegantTypewriterRegular;
  src: url("fonts/ELEGANT TYPEWRITER Regular.ttf");
}

/* Styling para el resto de los elementos y secciones. magin 0 le quitara el pequeño margen al rededor de todo */
* {
  margin: 0;
}

.menu {
  background-color: var(--primary-color);
  height: 60px;
}
.menuIcon {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 15px;
}
.menuTabs {
  text-align: center;
  padding-top: 20px;
  float: right;
  color: white;
}
.menuTabs a {
  font-family: ElegantTypewriterRegular;
  padding: 15px;
  text-decoration: none;
  color: white;
  transition: border-bottom 80ms;
}
.menuTabs a:hover {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 3px;
}
.menuIcon img {
  width: 50px;
}
.tabSelected {
  color: var(--secondary-color) !important;
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 3px !important;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.picture1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
